# Gradle work files
.gradle
gradle.properties
local.properties

# Build folders
build
target

# Eclipse project files
bin
.settings
.classpath
.project

# Idea / Android Studio files
.idea
*.iml
*.ipr
*.iws

# Xcode user specific data
xcode/*.xcodeproj/project.xcworkspace/xcuserdata/
xcode/*.xcodeproj/xcuserdata/

# Mac Finder
.DS_Store


*.sh